---
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About us" lang="en">
  <div class="min-h-screen bg-white md:pt-[0px] xs:pt-[80px]">
    <div
      class="flex md:flex-row flex-col-reverse md:justify-normal md:h-screen"
    >
      <div
        class="md:w-[50vw] w-full text-black flex items-start flex-col justify-start p-12 md:p-16 xl:p-24 font-arimo text-justify"
      >
        <h1
          class="md:text-6xl text-5xl font-bold mt-8 text-left"
          style={{
            fontFamily: "Coolvetica-Crammed",
          }}
        >
          About Us
        </h1>
        <p class="mt-4">
          We are a group of professionals with over 38 years of experience in
          producing commercials, short films, feature films, television series,
          and music videos, as well as specializing in the fields of political,
          social, and corporate communication.
        </p>
        <p class="mt-4">
          We offer a comprehensive service utilizing the full range of
          possibilities within the communication spectrum, adapting them to the
          needs of our clients.
        </p>
        <p class="mt-4">
          <b>JALAPEÑO FILMS, S.A. de C.V.</b> is an established company with a representative
          trade mark, dedicated to professional production in Communication and Creativity
          for all media including TV, Radio, Cinema, Internet, and Print, among others.
          We produce exhibitions, corporate videos, television programs, commercials,
          documentaries, and TV series, as well as short and feature films.
        </p>
      </div>
      <div
        class="md:h-screen h-[50vh] w-full bg-cover bg-center md:w-[50vw]"
        style={{
          backgroundImage: `url('https://thelift.mx/wp-content/uploads/2021/06/IMG_7410-scaled.jpg')`,
        }}
      >
      </div>
    </div>
  </div>
</Layout>
<Footer lang="en" />
