---
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Aviso de privacidad">
  <div class="container w-md mx-auto xs:w-sm px-8 text-sm">
    <h1
      class="text-6xl font-bold text-gray-900 leading-tight mb-4 mt-8"
      style={{
        fontFamily: "Coolvetica-Crammed",
      }}
    >
      Aviso de Privacidad
    </h1>
    <p>
      En cumplimiento con lo establecido en el artículo 17 y demás relativos de
      la Ley Federal de Protección de Datos Personales en Posesión de los
      Particulares (la “Ley”), Publicidad The Lift, S.A. de C.V. (“The Lift”)
      con domicilio en Ignacio Esteva N° 50-B, Col. San Miguel Chapultepec,
      Alcaldía Miguel Hidalgo, C.P. 11850, Ciudad de México, México, hace de su
      conocimiento que es el responsable del tratamiento legítimo, controlado e
      informado de sus datos personales. Como responsable del tratamiento de sus
      datos personales, The Lift se obliga a cumplir con los principios de
      licitud, consentimiento, información, calidad, finalidad, lealtad,
      proporcionalidad y responsabilidad tutelados en la Ley.
    </p>
    <p>
      Usted, como titular de los datos personales expresa su consentimiento liso
      y llano con el presente Aviso de Privacidad al hacer “clic” en el cuadro
      correspondiente que indica “enterado y de acuerdo” que aparece al final
      del presente Aviso de Privacidad y/o firmar autógrafa o electrónicamente
      este Aviso de Privacidad y/o al hacer uso de nuestra página de Internet.
      Usted como titular de los datos personales expresamente autoriza a The
      Lift para que lleve a cabo la obtención, acceso, uso, aprovechamiento,
      divulgación, transferencia, disposición y/o almacenamiento (en lo sucesivo
      todas y cada una de estas actividades denominadas conjuntamente como el
      “tratamiento”) de sus datos personales y datos personales sensibles [como
      dichos términos se definen en la Ley], obtenidos a través de nuestra
      página de Internet www.thelift.mx y/o https://portal.thelift.mx/login y/o
      los correos electrónicos con terminación: @thelift.mx o de cualquier otro
      formulario, solicitud o documento usado por The Lift.
    </p>
    <p>
      El tratamiento de sus datos personales se lleva a cabo con las siguientes
      finalidades originales y necesarias:
    </p>
    <p>
      (i) proveer, vender o comprar los productos y/o servicios que usted ha
      solicitado, solicite y/o proporcione a The Lift, así como celebrar el o
      los contrato(s) correspondiente(s); (ii) notificarle a usted sobre nuevos
      productos y/o servicios que tengan relación con los ya contratados; (iii)
      comunicarle a usted cambios en los productos y/o servicios; (iv) conocer
      su estado de salud (v) mantener y custodiar su expediente e información.
      Asimismo, el tratamiento de sus datos personales también podrá tener las
      siguientes finalidades no necesarias: (i) evaluar la calidad de los
      productos y/o servicios y dar cumplimiento a las obligaciones que hemos
      adquirido con usted; (ii) crear comprobantes fiscales como facturas, notas
      de crédito o de cargo; (iii) enviar información como estados de cuenta,
      cartas y comunicados; (iv) elaborar reportes que The Lift deba rendir a su
      sociedad matriz, sociedades controladoras, subsidiarias, afiliadas o bajo
      el control común del mismo grupo de The Lift (en lo sucesivo denominadas
      conjuntamente como las “Afiliadas”), inversionistas y autoridades; (v)
      preparar procesos, aprobaciones, monitoreos, evaluaciones, estadísticas,
      proyecciones y auditorias; (vi) identificación, estadística y análisis
      interno; a efecto de contar con un archivo físico, selección de
      prestadores profesionales y/o especializados; (vii) proporcionar
      referencias; (viii) la realización de cualquier trámite o registro que se
      tenga que realizar ante cualquier dependencia gubernamental; (ix)
      participación en actividades de carácter comercial o de mercadotecnia;
      invitaciones a eventos educativos, deportivos, sociales o culturales; (x)
      atención a usuarios, clientes y proveedores; (xi) envío de publicidad;
      investigación de estudios de mercado; (xii) envío de notificaciones de
      cambios al presente aviso; y (xiii) para fines de mercadotecnia,
      publicidad o prospección comercial.
    </p>
    <p>
      Para las finalidades antes mencionadas, podremos requerir uno o más de sus
      siguientes datos personales:
    </p>
    <p>– Datos de Identificación.</p>
    <p>– Datos de contacto.</p>
    <p>– Datos profesionales.</p>
    <p>
      El tratamiento de los datos personales se llevará a cabo por todo el
      tiempo que sea necesario para que The Lift y/o usted como titular de los
      datos personales cumplan cabalmente con todas y cada una de sus
      obligaciones conforme al (los) contrato(s) que en su caso celebren y por
      el tiempo adicional que se prevea de conformidad con las disposiciones
      legales aplicables. No obstante, en el caso de datos personales sensibles
      (como dicho término se define en la Ley), The Lift hará sus mejores
      esfuerzos para limitar el periodo de tratamiento a efecto de que sea el
      mínimo indispensable.
    </p>

    <p>
      En cumplimiento con las finalidades previstas en este aviso de privacidad,
      los datos personales que sean proporcionados bajo cualquiera de las
      modalidades citadas, serán tratados y almacenados bajo las más estrictas
      medidas de seguridad, que garanticen su confidencialidad por parte de The
      Lift o cualquiera de nuestras Afiliadas. Asimismo, se le informa que The
      Lift ha adoptado medidas de seguridad para la protección de sus datos
      personales, incluyendo medidas para evitar la pérdida, mal uso,
      alteración, acceso no autorizado o robo de los datos personales, tales
      como la encriptación de datos y claves de acceso.
    </p>

    <p>
      Usted como titular de los datos personales acepta la transferencia,
      nacional e internacional, incluyendo la transferencia de sus datos al
      Reino Unido, conforme al presente Aviso de Privacidad. The Lift tomará las
      medidas que sean necesarias y suficientes para garantizar que este Aviso
      de Privacidad sea respetado en todo momento por él o los terceros que los
      reciban. Asimismo, se le informa que el tratamiento de sus datos
      personales se llevará acabo única y exclusivamente por las siguientes
      personas: The Lift, sus socios o accionistas, sus administradores,
      gerentes, empleados y apoderados, sus consultores, contrapartes en
      contratos bilaterales y multilaterales y representantes, así como sus
      Afiliadas, incluyendo los socios o accionistas, administradores, gerentes,
      empleados, apoderados, consultores y representantes de dichas empresas.
    </p>
    <p>
      Usted, como titular de datos personales, podrá ejercitar ante la Persona
      Responsable de Datos Personales de The Lift (cuyos datos aparecen a
      continuación) los derechos de acceso, rectificación, cancelación y
      oposición (derechos ARCO), establecidos en la Ley, los cuales no estarán
      limitados salvo en la medida que sea necesario para que The Lift esté en
      posibilidad de dar cumplimiento a obligaciones legales que le sean
      aplicables, como, en su caso, las establecida por la Ley Federal para la
      Prevención e Identificación de Operaciones con Recursos de Procedencia
      Ilícita, así como su Reglamento, entre otros. Asimismo, para revocar el
      consentimiento que haya otorgado y que fuese necesario para llevar a cabo
      el tratamiento de sus datos personales, así como solicitar que se limite
      el uso o divulgación de estos podrá dirigirse ante la Persona Responsable
      de Datos Personales de The Lift:
    </p>
    <p>
      (Nombre), PUBLICIDAD THE LIFT, S.A. DE C.V., con domicilio en Calle
      Gobernador Ignacio Esteva N° 50-B, Col. San Miguel Chapultepec, Alcaldía
      Miguel Hidalgo, C.P. 11850, Ciudad de México, México. Dirección de correo
      electrónico: mfernanda@thelift.mx
    </p>
    <p>
      La solicitud de acceso, rectificación, cancelación u oposición, así como
      la revocación del consentimiento, deberá hacerse por escrito y contener y
      acompañar lo siguiente: (i) el nombre del titular y domicilio u otro medio
      para comunicarle la respuesta a su solicitud; (ii) los documentos que
      acrediten la identidad o, en su caso, la representación legal del titular;
      (iii) la descripción clara y precisa de los datos personales respecto de
      los que se busca ejercer alguno de los derechos antes mencionados; (iv)
      cualquier otro elemento o documento que
    </p>
    <p>
      facilite la localización de los datos personales; (v) en su caso, las
      modificaciones a realizarse y aportar la documentación que sustente su
      petición.
    </p>

    <p>
      The Lift comunicará al titular, en un plazo máximo de 20 (veinte) días
      hábiles contados desde la fecha en que recibió la solicitud
      correspondiente debidamente integrada, la determinación adoptada, a efecto
      de que, si resulta procedente, se haga efectiva la misma dentro de los 15
      (quince) días hábiles siguientes a la fecha en que se comunica la
      respuesta al titular. De conformidad con lo establecido en la Ley, los
      plazos antes referidos podrán ser ampliados una sola vez por un periodo
      igual, siempre y cuando así lo justifiquen las circunstancias del caso.
    </p>

    <p>
      El hecho de que el titular manifieste su oposición al tratamiento de sus
      datos personales no será un motivo para que The Lift niegue los productos
      y/o servicios ofrecidos y/o contratados.
    </p>

    <p>
      El presente Aviso de Privacidad podrá ser modificado mediante un simple
      aviso por escrito que The Lift dirija al titular de los datos personales o
      mediante la publicación de la modificación correspondiente en nuestra
      página de Internet www.thelift.mx con por lo menos 30 (treinta) días
      naturales de anticipación a la fecha efectiva de la modificación. En el
      caso en que el titular de los datos personales no esté de acuerdo con las
      modificaciones, éste tendrá el derecho de oposición en los términos de los
      párrafos anteriores. De no presentarse oposición durante los 30 (treinta)
      días naturales señalados anteriormente o si la oposición resulta
      infundada, las modificaciones a este Aviso de Privacidad se tendrán por
      aceptadas para todos los efectos legales a que haya lugar. No será
      necesario el procedimiento anterior cuando las modificaciones consten en
      acuerdo por escrito firmado por el titular de los datos personales.
    </p>
  </div>
</Layout>
<Footer />

<style>
  p {
    margin-bottom: 1rem;
  }
</style>
