---
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Privacy Policy">
  <div class="container w-md mx-auto xs:w-sm px-8 text-sm">
    <h1
      class="text-6xl font-bold text-gray-900 leading-tight mb-4 mt-8"
      style={{
        fontFamily: "Coolvetica-Crammed",
      }}
    >
      Privacy Policy
    </h1>
    <p>
      In compliance with the dispositions established in article 17 and other
      related articles of the Federal Law for the Protection of Personal Data in
      Possession of Individuals (Ley Federal de Protección de Datos Personales
      en Posesión de los Particulares) (the “Law”), Publicidad The Lift, S.A. de
      C.V. (“The Lift”) with address at Ignacio Esteva N° 50-B, Col. San Miguel
      Chapultepec, Alcaldía Miguel Hidalgo, C.P. 11850, Mexico City, Mexico,
      hereby informs you that it is responsible for the legitimate, supervised
      and informed treatment of your personal data. As responsible for the
      management of your personal data, The Lift is obliged to comply with the
      principles of legality, consent, information, quality, purpose, loyalty,
      proportionality, and responsibility protected by the Law.
    </p>
    <p>
      As the owner of the personal data, you express your consent with this
      Privacy Policy by clicking on the “I consent to and accept this Privacy
      Policy” box that appears at the end of this Privacy Policy and/or by
      signing this Privacy Policy and/or by using our website. As the holder of
      the personal data, you expressly authorize The Lift to carry out the
      collection, access, use, exploitation, disclosure, transfer, disposal
      and/or storage (hereinafter each and every one of these activities jointly
      referred to as “processing”) of your personal data and sensitive personal
      data [as such terms are defined in the Law], obtained through our website
      www.thelift.mx and/or https://portal.thelift.mx/login and/or e-mails with
      the ending: @thelift.mx or any other form, request or document used by The
      Lift.
    </p>
    <p>
      The processing of your personal data is carried out for the following
      original and necessary purposes: (i) to provide, sell or purchase the
      products and/or services that you have requested, request and/or provide
      to The Lift, as well as to enter into the corresponding agreement(s); (ii)
      to notify you about new products and/or services that are related to those
      already contracted; (iii) to notify you about changes in the products
      and/or services; (iv) to know your health status;
    </p>
    <p>
      (v) to maintain and safeguard your file and information. Furthermore, the
      processing of your personal data may also have the following non-necessary
      purposes: (i) to evaluate the quality of the products and/or services and
      to comply with the obligations we have acquired with you; (ii) to create
      tax receipts such as invoices, credit or charge notes; (iii) to send
      information such as account statements, letters and communications; (iv)
      to prepare reports that The Lift must render to its parent company,
      holding companies, subsidiaries, affiliates or under common control of the
      same group of The Lift (hereinafter jointly referred to as the
      “Affiliates”), investors and authorities; (v) to prepare processes,
      approvals, monitoring, evaluations, statistics, projections and audits;
      (vi) internal identification, statistics and analysis; (vii) providing
      references; (viii) the completion of any procedure or registration that
      must be carried out before any government agency; (ix) participation in
      commercial or marketing activities; invitations to educational, sports,
      social or cultural events; (x) attention to users, customers and
      suppliers; (xi) sending advertising; market research; (xii) sending
      notifications of changes to this policy; and (xiii) for marketing,
      advertising or commercial prospecting purposes.
    </p>
    <p>
      For the aforementioned purposes, we may require one or more of the
      following personal data from you:
    </p>
    <p>– Identification Data</p>
    <p>– Contact information.</p>
    <p>– Professional data.</p>
    <p>– Financial data.</p>
    <p>– Sensitive health data.</p>
    <p>– Payment information.</p>
    <p>– RFC</p>
    <p>
      The processing of personal data will be carried out for as long as it is
      necessary for The Lift and/or you as the owner of the personal data to
      fully comply with each and every one of your obligations under the
      agreement(s) that you may enter into and for the additional time provided
      for in accordance with the applicable legal provisions. However, in the
      case of sensitive personal data (as such term is defined in the Law), The
      Lift will make its best efforts to limit the processing period to the
      minimum necessary.
    </p>
    <p>
      In compliance with the purposes set forth in this privacy policy, the
      personal data provided under any of the aforementioned modalities, will be
      treated and stored under the strictest security measures that guarantee
      its confidentiality by The Lift or any of our Affiliates. You are also
      informed that The Lift has adopted security measures for the protection of
      your personal data, including measures to prevent the loss, misuse,
      alteration, unauthorized access or theft of personal data, such as data
      encryption and key passwords.
    </p>
    <p>
      As the personal data subject, you consent to the transfer of your data,
      domestic and international, including the transfer to the United Kingdom,
      in accordance with this Privacy Policy. The Lift will take the necessary
      and sufficient measures to ensure that this Privacy Policy is respected at
      all times by any third parties that receive them. You are also informed
      that the processing of your personal data will be carried out solely and
      exclusively by the following persons: The Lift, its partners or
      shareholders, its directors, managers, employees and agents, its
      consultants, counterparties to bilateral and multilateral agreements and
      representatives, as well as its Affiliates, including the partners or
      shareholders, directors, managers, employees, agents, consultants and
      representatives of such companies.
    </p>
    <p>
      As the owner of personal data, you may exercise before the Person
      Responsible for Personal Data of The Lift the rights of access,
      rectification, cancellation and opposition (ARCO rights),
    </p>
    <p>
      established in the Law, which will not be limited except to the extent
      necessary for The Lift to be able to comply with applicable legal
      obligations, such as, where appropriate, those established by the Federal
      Law for the Prevention and Identification of Operations with Resources of
      Illicit Origin (Ley Federal para la Prevención e Identificación de
      Operaciones con Recursos de Procedencia Ilícita), as well as its
      Regulations, among others. In addition, to revoke the consent that you
      have granted and that is necessary to carry out the processing of your
      personal data, as well as to request that the use or disclosure of such
      data be limited, you may contact the Person Responsible for Personal Data
      of The Lift.
    </p>
    <p>
      (NAME), PUBLICIDAD THE LIFT, S.A. DE C.V., with adress at Calle Gobernador
      Ignacio Esteva N° 50-B, Col. San Miguel Chapultepec, Alcaldía Miguel
      Hidalgo, C.P. 11850, Mexico City, México. e-mail adress:
      mfernanda@thelift.mx
    </p>
    <p>
      The request for access, rectification, cancellation or opposition, as well
      as the revocation of consent, must be made in written form and must
      contain and be accompanied by the following: (i) the name of the holder
      and address or other means to communicate the response to his request;
      (ii) the documents evidencing the identity or, if applicable, the legal
      representation of the holder; (iii) the clear and precise description of
      the personal data with respect to which it seeks to exercise any of the
      aforementioned rights; (iv) any other element or document that facilitates
      the location of the personal data; (v) if applicable, the modifications to
      be made and provide the documentation supporting the request.
    </p>
    <p>
      The Lift will communicate to the holder, within a maximum period of 20
      (twenty) business days from the date on which it received the
      corresponding request duly integrated, the determination adopted, so that,
      if approved, the same becomes effective within 15 (fifteen) business days
      following the date on which the response is communicated to the holder. In
      accordance with the provisions of the Law, the aforementioned terms may be
      extended only once for an equal period, provided that the circumstances of
      the case justify it.
    </p>
    <p>
      The fact that the holder expresses its opposition to the treatment of its
      personal data will not be a reason for The Lift to deny the products
      and/or services offered and/or contracted.
    </p>

    <p>
      This Privacy Policy may be modified by means of a simple written notice
      that The Lift addresses to the owner of the personal data or by publishing
      the corresponding modification on our website www.thelift.mx at least 30
      (thirty) calendar days prior to the effective date of the modification. In
      the event that the owner of the personal data does not agree with the
      modifications, it will have the right of opposition under the terms of the
      preceding paragraphs. If no opposition is filed during the 30 (thirty)
      calendar days indicated above or if the opposition is unfounded, the
      modifications to this Privacy Policy will be considered accepted for all
      legal purposes. The above procedure will not be necessary when the
      modifications are contained in a written agreement signed by the holder of
      the personal data.
    </p>
  </div>
</Layout>
<Footer lang="en" />

<style>
  p {
    margin-bottom: 1rem;
  }
</style>
