---
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Termns and conditions" lang="en">
  <div class="container w-md mx-auto xs:w-sm px-8 text-sm">
    <h1
      class="text-6xl font-bold text-gray-900 leading-tight mb-4 mt-8"
      style={{
        fontFamily: "Coolvetica-Crammed",
      }}
    >
      Termns and conditions
    </h1>
    <h2 class="font-semibold mb-2">Personal Data Transfer</h2>
    <p>
      Currently, we do not collect personal data from our users and therefore,
      there are no transfers of personal data to third parties. If in the future
      it becomes necessary to collect personal data, this will be done in
      accordance with the service requirements and in compliance with applicable
      laws, ensuring adequate protection of the data.
    </p>
    <h2 class="font-semibold mt-4 mb-2">
      At this time, our website does not collect any personal data from
      visitors. We do not require users to provide personal information to
      access our content. Should we decide to collect personal data in the
      future, we will update this policy to reflect the types of data collected
      and the purposes of processing.
    </h2>
    <p>
      Currently, our website does not use cookies. If we decide to implement the
      use of cookies in the future to enhance user experience, we will notify
      users appropriately and provide information on how to manage cookie
      preferences.
    </p>

    <h2 class="font-semibold mt-4 mb-2">Use of Cookies</h2>
    <p>Jalapeñofilms.com does not use cookies.</p>
    <h2 class="font-semibold mt-4 mb-2">Legal Basis for Data Processing</h2>
    <p>
      Since we do not collect personal data, there is no processing of personal
      data. Any future data processing that occurs will be based on the need to
      fulfill the objectives of our service and in accordance with current
      legislation.
    </p>
    <h2 class="font-semibold mt-4 mb-2">Changes to the Privacy Notice</h2>
    <p>
      We reserve the right to modify this privacy policy at any time. Any
      changes will be adequately communicated through our website.
    </p>
  </div>
</Layout>

<Footer lang="en" />

<style>
  p {
    margin-bottom: 1rem;
  }
</style>
