---
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Terminos y condiciones">
  <div class="container w-md mx-auto xs:w-sm px-8 text-sm">
    <h1
      class="text-6xl font-bold text-gray-900 leading-tight mb-4 mt-8"
      style={{
        fontFamily: "Coolvetica-Crammed",
      }}
    >
      Terminos y condiciones
    </h1>
    <h2 class="font-semibold mb-2">Transferencia de Datos Personales</h2>
    <p>
      Actualmente, no recabamos datos personales de nuestros usuarios y, por lo
      tanto, no realizamos transferencias de datos personales a terceros. En
      caso de que en el futuro se requiera recabar datos personales, esto se
      hará conforme a las necesidades del servicio y en cumplimiento con la
      legislación aplicable, asegurando la protección adecuada de los mismos.
    </p>
    <h2 class="font-semibold mt-4 mb-2">Datos Personales que se Recolectan</h2>
    <p>
      En este momento, nuestra página no recopila ningún dato personal de los
      visitantes. No requerimos que los usuarios proporcionen información
      personal para acceder a nuestro contenido. Si en el futuro decidimos
      recopilar datos personales, actualizaremos esta política para reflejar los
      tipos de datos recogidos y las finalidades del tratamiento.
    </p>

    <h2 class="font-semibold mt-4 mb-2">Uso de Cookies</h2>
    <p>
      Actualmente, nuestra página no utiliza cookies. Si en el futuro
      implementamos el uso de cookies para mejorar la experiencia del usuario,
      lo notificaremos oportunamente y proporcionaremos información sobre cómo
      gestionar las preferencias de cookies.
    </p>
    <h2 class="font-semibold mt-4 mb-2">
      Fundamento legal para llevar a cabo el tratamiento
    </h2>
    <p>
      Dado que no recabamos datos personales, no se realiza tratamiento de datos
      personales. Cualquier futuro tratamiento de datos personales que se
      realice estará basado en la necesidad de cumplir con los objetivos de
      nuestro servicio y en conformidad con la legislación vigente.
    </p>
    <h2 class="font-semibold mt-4 mb-2">Cambios al aviso de privacidad</h2>
    <p>
      Nos reservamos el derecho de modificar esta política de privacidad en
      cualquier momento. Cualquier cambio será comunicado adecuadamente a través
      de nuestra página web.
    </p>
  </div>
</Layout>

<Footer />

<style>
  p {
    margin-bottom: 1rem;
  }
</style>
