---
interface Props {
  lang?: "es" | "en";
}

const { lang = "es" } = Astro.props;

const links = [
  {
    es_label: "Acerca de Nosotros",
    en_label: "About Us",
    en_url: "/about",
    es_url: "/acerca-de-nosotros",
  },

  {
    es_label: "Servicios",
    en_label: "Services",
    en_url: "/services",
    es_url: "/servicios",
  },
  {
    es_label: "Clientes",
    en_label: "Clients",
    es_url: "/clientes",
    en_url: "/clients",
  },
  {
    es_label: "Contacto",
    en_label: "Contact",
    es_url: "/contacto",
    en_url: "/contact",
  },
];
---

<div
  id="nav-drawer"
  class="fixed top-0 right-0 z-40 h-screen p-12 md:p-8 xl:p-12 overflow-y-auto transition-transform translate-x-full bg-[rgba(0,0,0,.85)] md:w-1/3 xl:1/4 xs:w-full"
  tabindex="-1"
  aria-labelledby="drawer-right-label"
>
  <button
    type="button"
    data-drawer-hide="nav-drawer"
    aria-controls="nav-drawer"
    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 inline-flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white"
  >
    <svg
      class="w-3 h-3"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 14 14"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
    </svg>
    <span class="sr-only">Cerrar</span>
  </button>
  <div class="h-full flex flex-col justify-around">
    <ul class="flex flex-col space-y-4 items-end font-arimo">
      {
        links.map((link) => (
          <li class="text-right">
            <a
              href={lang === "es" ? link.es_url : link.en_url}
              class="text-gray-300 hover:text-white hover:font-semi-bold  font-arimo  md:text-2xl xl:text-3xl text-xl text-right"
            >
              {lang === "es" ? link.es_label : link.en_label}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>
