---
import Drawer from "../components/Drawer.astro";
import Footer from "../components/Footer.astro";
import MenuButton from "../components/MenuButton.astro";

interface Props {
  title: string;
  homePage?: boolean;
}

const { title, homePage = false } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
    ></script>
  </head>
  <body class="bg-white">
    <nav class="">
      <div
        class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
      >
        <a href="/">
          <img
            src="/images/logo-black.png"
            alt="Logo de Jalapeño Films"
            class={`md:h-18 h-12 md:visible ${homePage ? "xs:hidden" : ""}`}
          /></a
        >
        <MenuButton />
        <Drawer />
      </div>
    </nav>

    <div>
      <slot />
    </div>
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }

  /* add font  from files coolvetica-crammed.otf */
  @font-face {
    font-family: "Coolvetica-Crammed";
    src: url("/fonts/coolvetica-crammed.otf") format("opentype");
  }

  html {
    font-family: "Arimo", sans-serif;
    background-size: 224px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  .arimo-normal {
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .arimo-bold {
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  .arimo-italic {
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
  }

  @media (max-width: 640px) {
    .carousel .slide iframe {
      margin: 0;
    }
  }
</style>
